argon2-cffi
asgiref
bcrypt
certifi
chardet
cryptography
defusedxml
Django==3.0.8
django-crispy-forms
djangorestframework
Faker
idna
importlib-metadata
Markdown
oauthlib
Pillow
pycparser
PyJWT
python-dateutil
python-social-auth
python3-openid
pytz
requests
requests-oauthlib
social-auth-app-django
social-auth-core

